/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html,
body {
   margin:0;
   padding:0;
   height:100%;
    background-color:#ffe8fa;
}
#wrapper {
   min-height:100%;
   position:relative;
   width:100%;
   margin-right:auto;
   margin-left:auto;
}

@media screen and (max-width: 500px){
    #wrapper{
        width:100%;
        overflow-x:hidden;
    }
}
@media screen and (min-width: 900px){
    .posts .row{
        width:92%;
        margin-right:auto;
        margin-left:auto;
    }
}


#header {
   padding:0px;
}
#body {
   padding-bottom:200px;   /* Height of the footer */
    position:relative;
    

}
#footer {
   position:absolute;
    width:100%;
    bottom:0;
    padding-top:20px;
}

