// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-markdown";
@import url(https://fonts.googleapis.com/css?family=Oswald|Raleway|Permanent+Marker);
@import "font-awesome-sprockets";
@import "font-awesome";

//universal styles

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-decoration:none !important;
}

 h2, #main-nav a, #main-nav i, #main-nav .fa-bars{
    color:#ff04b2;
}

td {
    font-family:'Oswald', sans-serif;
}

h1{
    font-family: 'Oswald', sans-serif;
    letter-spacing:5px;
    font-size:3em;
    width:100%;
 text-shadow: 3px 1px 1px rgba(5, 5, 5, 0.83);
   position:relative;
    z-index:2;
    margin-top:0px;
    margin-bottom:0px;
    padding:15px 15px 15px 3%;
    color:rgb(255, 241, 68);
    
}

.h1-contain{
    position:relative;
    overflow:hidden;
    margin-top:-20px;
    background-color:#ff009d;
    
    .col-md-12{
       background-color:#ff009d;
        padding:0px;
        
    }
}



 h2 {
   font-family: 'Permanent Marker', cursive;
 }
.title{
    border-bottom: solid 5px rgba(255, 7, 160, 0.94);
    
    font-size:2.7em;
    letter-spacing:10px;
    padding-bottom:15px;
    font-weight:400;
    text-align:center;
     text-shadow: 1px 1px 1px rgba(201, 135, 111, 0.83);
        
}

h4{
    padding-left:10px;
    padding-top:10px;
    color:rgba(0, 118, 255, 0.83);
    font-family: 'Oswald', sans-serif;
    font-size:1.2em;
    text-align:left;
    letter-spacing:2px;
}



#main-nav li a{
    
    
    font-family:'Permanent Marker', cursive;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size:1.3em;
    letter-spacing:3px;
    
}

#main-nav li{
    padding-top:5px;
    margin-right:5px;
    text-align:right;
}



#main-nav i{
     
     text-shadow: 1px 1px 1px rgb(0, 0, 0);
     margin-top:-15px;
    }





#main-nav li a:hover, #main-nav li i:hover{
    color:#ffc21e !important;
    
}

#body ul{

  padding-top:20px;
  padding-bottom:20px;

}
  
#body li{
    list-style-type:none;
    a{
        color:black;
        font-family:"Permanent Marker", cursive;
    }
}
li a{
font-family:'Oswald', sans-serif;
    font-size:1.2em;
    letter-spacing:8px;
    
}
p {
   font-family: 'Raleway', sans-serif;
   line-height:28px;
   font-size:16px;
   font-weight:400;
    color:black;
}


body{
    height:100%;
    background-color:#fdfdfd;
    
}



#body .container, #body .container-fluid{
    background-color:#ffe8fa;
    
    
}

.body{
    padding-top:30px;
}

.head-head{
    background-color:rgba(255, 0, 137, 0) !important;
}

#body{
   
    background-color:rgba(255, 232, 250, 0);
    
    .login {
        background-color:rgba(20, 0, 20, 0);
        margin-top:-350px;
       margin-bottom:50px;
        h2{
            text-align:center;
        }
        form{
        padding:20px;
        margin-right:auto;
        margin-left:auto;
        margin-bottom:200px;
        max-width:500px;
        
    }
    }
}



#ytplayer{
    position:absolute;
    top:0px;
    left:0px;
    z-index:100;
    width:100%;
    height:100%;
}

  .videos {
      padding-top:75px;
      padding-bottom:75px;
       ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {     
          list-style:none;
          margin-bottom:25px; 
          
      h2{
          height:40px;
          padding:0px;
          font-size:1.5em;
      }
      h5{
          height:30px;
          padding:0px;
          font-family:'Oswald', sans-serif;
          color:#78787b;
          letter-spacing:2px;
      }
      }
      ul li img {
          cursor: pointer;
      }
      
  
  }

 


.center-block{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.songs tr:after{
    content: "";
}

.songs tr.special:after{
    content: url(image_path('ajax-loader.gif'));
}

.ajax-loading{
 background:url(image_path('ajax-loader.gif')) no-repeat right center;
     
}
#head-img{
   display:block;
   position:relative;
   width:100%;
   height:700px;
  
   background-repeat: no-repeat;
   background-position:center;
   background-size:cover;
   overflow-x:hidden;
    overflow-y:hidden;
    #main-nav{

    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
    z-index:140;

}
}

#admin_nav{
    background-color:black;
    a{
        color:white;
    }
 .dropdown-menu, li, a:hover, a:focus{
  color: #fff686;
  background-color: black;
  background-image: none;
  filter: none;
 }
}




    
   
#jp_container_1{
    box-sizing: content-box;
}



 .sticky {
    position:fixed;
    right:0;
    top:0;
    z-index: 140;
    border-top: 0;
    
   
}   
.stickColor{
     background-color:rgba(59, 150, 255, 0.74);
}

.staticNav{
        position:absolute;
    bottom:10%;
    right:0;
    
}


.staticColor{
    
    background-color:transparent;
    
}



#footer{
  background-color:#ff009d;
  text-align:center; 
  
 h2{
     border-top:solid 2px;
     color:#ffc2cd;
     padding-top:10px;
     padding-bottom:20px;
 }
    
 ul {

    list-style-type:none;
    li{
     display:inline;
    }
 }
    
    
}

.btn-primary a{
    color:white;
}


.form-form{
    padding-top:25px;
    padding-bottom:75px;
    .col-md-12{background-color:rgba(195, 195, 195, 0.94); padding:100px;}
    h2, h3{margin-left:auto; margin-right:auto; text-align:center;}
    .btn{
        background-color:#ff00b1;
        color:white;
        max-width:300px;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        font-family:"Oswald", sans-serif;
    }
}

label{
    font-family:'Permanent Marker', cursive;
    color:#33333c
}

li.error{
    color:red;
    font-family:'Oswald', sans-serif;
}

