-unless @site_setting.feature_text.nil?
  - elems = @site_setting.feature_text.split('|')
.container-fluid.splash
  .row.banner
     - unless @site_setting.featured_video.nil?
       
        
       .col-md-7.col-md-offset-1.headline
          -elems.each do |e|
            h4 = e
          #featured-video
             iframe.youtube {allowfullscreen="" frameborder="0" width="560" height="349"  src="https://www.youtube.com/embed/#{Video.find(@site_setting.featured_video).vid_id}?controls=0&enablejsapi=1&modestbranding=1&rel=0&showinfo=0&autohide=1& color=white&theme=light&origin=http://www.sunrisereset.com"   type="text/html" }
       .col-md-3.download_links
         img.img-responsive src = "#{Album.first.artwork_url}"


         ul 
          - Album.first.links.each do |l|
           - icon_name = l.icon_name
           li.social 
             a href = l.link
               span.icon-fa 
                  i class="fa fa-#{icon_name} fa-2x"

               span = "  #{l.title}"

   
css: 

  .last_elem{
   text-align:center;
  }

  .splash{
    padding: 0;
  }

  #featured-video{
    background-color: transparent;
  }
  
  .banner{
    margin-top:150px;
    margin-right:auto;
    margin-left:auto;
    width: 100%;
    text-align:center;
  }
  

    #featured-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        border-radius:10px;
        background-color:#{@site_setting.background_color};

    }
  #featured-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:5px;
    border-radius:10px;
  }


  .headline h4{
    text-align:center;
    margin:0;
    padding-bottom:10px;
  }

  .download_links{
    background-color: #{@site_setting.background_color};
    border-radius: 10px;
  }

  .download_links ul {
    list-style-type:none;
    margin-top: 5px;
    padding: 25px;
  }
  .download_links ul li{
    text-align:left;
    padding-top: 5px;
  }

  .download_links ul li a{
    font-size: 1.4em;
    letter-spacing: 2px;
  }

  .download_links img{
    padding-top: 10px;
  }


  .fa-bandcamp:before {
      font-family: Arial; /* your font family here! */
      font-weight: bold;
      content: 'BC';
      font-size: 50%;
  }

  .icon-fa{
    padding-right:5px;
  }


